<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <style>
        .navbar-right{
            float:right !important;
            margin-right:15px;
            margin-left:15px;
        }
    </style>
    <title>@ViewBag.Title</title>
</head>
<body> 
    <div class="navbar navbar-inverse" role="navigation">
        <a class="navbar-brand" href="#">BOOKSTORE</a>
        @if (User.Identity.IsAuthenticated && User.Identity.Name != "Admin")
        {
            @Html.Action("Summary", "Cart")
            @Html.ActionLink("LOGOUT", "Logout", "User", null, new { @class = "btn pull-right btn-default navbar-btn" })

        }
        else if (User.Identity.Name.Equals("Admin"))
        {
            @Html.ActionLink("ADMIN", "Index", "Admin", null, new { @class = "btn pull-right btn-default navbar-btn" })
            @Html.ActionLink("LOGOUT", "Logout", "User", null, new { @class = "btn pull-right btn-default navbar-btn" })

        }
        else
        {
            @Html.ActionLink("LOGIN", "Login", "User", null, new { @class = "btn pull-right btn-default navbar-btn" })
        }

    </div>

    <div class="row panel">
        <div id="genres" class="col-xs-3">
           @Html.Action("Menu", "Nav");
        </div>
        <div class="col-xs-8">
            @RenderBody()
        </div>
    </div>

</body>
</html>